# =====================================
# Python general
# =====================================
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# =====================================
# Django
# =====================================
*.log
*.pot
*.pyc
*.pyo
*.pyd
# Django DB
db.sqlite3
db.sqlite3-journal

# Ignorar migraciones de todas las apps (excepto __init__.py)
**/migrations/*.py
!**/migrations/__init__.py

media/
staticfiles/
local_settings.py

# =====================================
# Configuración / IDEs
# =====================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =====================================
# Archivos del sistema
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Archivos de entorno / credenciales
# =====================================
.env.local
.env.*.local
*.env
