{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar sesión - EntertainPet{% endblock %}

{% block content %}
<div class="auth-page">
  <div class="auth-card">
    <h2>Iniciar sesión</h2>

   <form class="auth-form" method="post" action="{% url 'home:login' %}">
    {% csrf_token %}
    
    {% if form.non_field_errors %}
      <div class="form-errors">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
    {{ form.username }}
    {% if form.username.errors %}
      <div class="form-errors">
        {{ form.username.errors }}
      </div>
    {% endif %}

    <label for="{{ form.password.id_for_label }}">Contraseña</label>
    {{ form.password }}
    {% if form.password.errors %}
      <div class="form-errors">
        {{ form.password.errors }}
      </div>
    {% endif %}
    
    <button type="submit" class="auth-btn">Entrar</button>
    </form>

    <form method="post" action="{% url 'home:guest' %}" style="display: inline;">
      {% csrf_token %}
      <button type="submit" class="auth-btn" id="guest-btn">Continuar como invitado</button>
    </form>

    <div class="auth-switch">
      ¿No tienes cuenta?
      <a href="{% url 'home:register' %}">Regístrate aquí</a>
    </div>
  </div>
</div>
{% endblock %}
